<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-3">Contact Information:</h1>
        <ul>
          <li>Address:</li>
          <li>1348 Long Plains Rd Buxton ME 04093</li>
          <li>Phone:</li>
          <li><a href=”tel:+12073910296″>(207)-391-0296</a></li>
          <li>Email:</li>
          <li><a href="mailto:programmingdad@gmail.com">programmingdad@gmail.com</a></li>
        </ul>
        <hr class="my-4">
        <p class="text-center">Feel Free to reach out through social media</p>
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/programmingdad/" ><i class="fab fa-linkedin"></i></a>
          <a class="btn btn-primary btn-lg" href="https://github.com/professorx00" ><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>