<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card mb-3">
        <h3 class="card-header">Valhalla</h3>
        <div class="card-body">
          <h5 class="card-title">RPG Character Creator</h5>
          <h6 class="card-subtitle text-muted">Tech Used: NodeJS, ExpressJS, Passport JS, Bootstrap, EJS layouts, MySQL,
            Sequelize, AWS</h6>
        </div>
        <img style="height: 400px; width: 100%; display: block;" src="/assets/images/valhalla.png" alt="Card image"
          id="cardImg">
        <div class="card-body">
          <p class="card-text" id="cardInfo">Valhalla is a mobile app that allows the user instant access to all their
            D&D characters in a mobile-friendly interface. Campaign, convention, meetup - no matter where, you can share
            and play all your characters with other D&D players.</p>
        </div>
        <div class="card-body text-center">
          <a href="#" class="card-link" id="demo">Demo</a>
          <a href="#" class="card-link" id="code">Code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div>
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" id="<" href="#">&laquo;</button>
        </li>
        <li class="page-item active">
          <button class="page-link" id="1" href="#">1</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="2" href="#">2</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="3" href="#">3</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="4" href="#">4</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="5" href="#">5</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="6" href="#">6</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="7" href="#">7</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="8" href="#">8</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="9" href="#">9</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="10" href="#">10</button>
        </li>
        <li class="page-item">
          <button class="page-link" id=">" href="#">&raquo;</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="/assets/scripts/port.js"></script>